@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after { 
	content: "";
	clear: both; /*this is saying that it will add all the content after the main row div */
	display: table;
	}	
}